@font-face {
  font-family: "Roboto Condensed Regular";
  src: url("../../../assets/fonts/RobotoCondensed-Regular.ttf")
    format("truetype");
}
@font-face {
  font-family: "Roboto Condensed Light";
  src: url("../../../assets/fonts/RobotoCondensed-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto Light";
  src: url("../../../assets/fonts/Roboto-Light.ttf") format("truetype");
}
@font-face {
  font-family: "EB Garamond";
  src: url("../../../assets/fonts/EBGaramond-Regular.ttf") format("truetype");
}

$primary-font: "Roboto Condensed Regular";
$secondary-font: "Roboto Condensed Light";
$small-font: "Roboto Light";
$special-font: "EB Garamond";

$header-size: 2rem;
$subheader-size: 1.4rem;
$body-text-size: 1rem;
$body-text-height: 1.8;

@mixin default-header {
  font-family: $secondary-font;
  font-size: $header-size;
}

@mixin default-subheader {
  font-family: $secondary-font;
  font-size: $subheader-size;
}

@mixin default-body {
  font-family: $small-font;
  font-size: $body-text-size;
  line-height: $body-text-height;
}

@mixin default-special {
  font-family: $special-font;
  font-size: 0.8rem;
}
