@import "root";
$title-size: 10vw;
$desc-size: 2.2vw;
$desc-size-mobile: 1.4rem;

.title {
  @include grid-main-layout;
}

.title__main--top {
  grid-area: 2 / grid1 / 3 / grid12;
  font-family: $secondary-font;
  color: $primary-text-color;
  font-size: $title-size;
  @include tablet-down {
    font-family: $primary-font;
  }
}
.title__main--bottom {
  grid-area: 4 / grid1 / 5 / grid12;
  font-family: $secondary-font;
  color: $primary-text-color;
  font-size: $title-size;

  @include tablet-down {
    grid-area: 3 / grid1 / 4 / grid12;
    font-family: $primary-font;
  }
}

.title__mid {
  grid-area: 3 / grid1 / 4 / grid12;
  font-family: $secondary-font;
  color: $primary-color;
  font-size: $body-text-size;
  display: flex;
  align-items: flex-end;
  gap: 50px;
  margin-left: 5px;

  @include tablet-down {
    grid-area: 4 / grid1 / 5 / grid12;
    font-size: 0.7rem;
    display: flex;
    align-items: flex-start;
    gap: 10vw;
    margin-left: 0;
  }
}

.title__mid > h3 {
  margin-right: 10px;
}

.title__desc {
  grid-area: 4 / grid8 / 5 / grid12;
  font-family: $secondary-font;
  color: $primary-text-color;
  font-size: $desc-size;
  display: flex;
  align-self: end;

  @include tablet-down {
    grid-area: 4 / grid1 / 5 / grid12;
    font-size: $desc-size-mobile;
    margin-top: 3rem;
  }
}

.title__cta {
  grid-area: 5 / grid8 / 6 / grid12;

  @include tablet-down {
    grid-area: 7 / grid1 / 8 / grid7;
  }
}

.cta__btn {
  width: 170px;
  height: 50px;
  background-color: $button-color;
  color: $secondary-text-color;
  font-family: $small-font;
  font-size: $body-text-size;
  border: none;
  margin-top: 20px;
  padding: 2%;
}

.cta__btn:focus {
  outline: 2px solid $primary-color;
}

.title__intro {
  grid-area: 5 / grid1 / 6 / grid3;
  font-family: $small-font;

  @include tablet-down {
    grid-area: 5 / grid1 / 6 / grid8;
    font-size: $body-text-size;
    margin-top: 1rem;
  }
}

.title__deco--left {
  grid-area: paddLeft;
  color: $primary-color;
  width: 100%;
  text-align: right;
  font-family: $primary-font;
  @include tablet-down {
    display: none;
  }
}

.title__deco--right {
  transform: rotate(-90deg);
  grid-area: paddRight;
  color: $primary-color;
  font-family: $primary-font;
}

.resources {
  @include grid-main-layout;
}

.resources__title {
  @include grid-center;
  @include grid-line;
  font-family: $secondary-font;
  font-size: $header-size;
}

.recources__box1 {
  @include grid1-3;
  grid-row: 2;
}
.recources__box2 {
  @include grid2-3;
  grid-row: 2;
}
.recources__box3 {
  @include grid3-3;
  grid-row: 2;
}

.resource__sub-title {
  font-family: $secondary-font;
  font-size: $subheader-size;
}

.resources__body-text {
  margin: 6vh 0 6vh 0;
  font-family: $primary-font;
  line-height: $body-text-height;
}

.resource__link {
  font-family: $special-font;
}
