@import "root";

.info {
  @include blue-btn;
  @include default-header;
  width: 100px;
  height: 50px;
  display: flex;
  justify-self: flex-end;
  align-items: center;
  justify-content: center;
  grid-area: 2 / paddLeft / 2 / paddLeft;

  @include tablet-down {
    @include default-subheader;
    width: 80px;
    height: 40px;
    grid-area: 3 / grid1 / 3 / grid12;
    justify-self: flex-start;
  }

  .info__svg {
    transform: translateX(6px);
  }
}
