@import "root";

.nav {
  @include grid-main-layout;
  width: 100vw;
  height: 60px;

  background-color: $background-color;
  position: fixed;
  border-bottom: 0.4px solid $primary-color;
}

.nav__links {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
  padding-right: 10vw;
  grid-area: 1 / grid8 / 2 / grid12;
  font-family: $primary-font;

  @include tablet-down {
    display: none;
  }
}

.nav__link:hover {
  border-bottom: 3px solid $button-color;
}

.nav__link--selected {
  border-bottom: 3px solid $button-color;
}

.nav__links > li {
  padding-right: 4vw;
}

li > a {
  text-decoration: none;
  color: $primary-color;
}

.logo {
  grid-area: 1 / grid1 / 1 / grid1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.logo__img {
  width: 40px;
  height: 40px;
  grid-area: paddLeft;
}

.nav--empty {
  width: 100vw;
  height: 60px;
}
