@import "root";

.nav {
  width: 100vw;
  height: 60px;

  background-color: $background-color;
  position: fixed;
  border-bottom: 0.4px solid $primary-color;
  padding-left: 16px;
}

.nav__links {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
  padding-right: 14px;
  grid-area: 1 / grid6 / 2 / grid8;
  font-family: $primary-font;

  @include tablet-down {
    display: none;
  }
}

.nav__links > li {
  padding-right: 4vw;
}

li > a {
  text-decoration: none;
  color: $primary-color;
}

.logo {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.logo__img {
  width: 40px;
  height: 40px;
  grid-area: paddLeft;
}

.nav--empty {
  width: 100vw;
  height: 60px;
}
