@import "root";

.download__btn {
  @include default-body;
  @include default-cta;
  grid-column: grid1 / grid12;
  grid-row: 1;
  z-index: 0;

  @include tablet-down {
    grid-column: grid1 / grid12;
    grid-row: 4;
  }
}
.render__edit {
  grid-column: grid1 / grid12;
}

.render__desc {
  @include default-body;
  grid-row: 2;
  grid-column: grid1 / grid12;
  width: 100%;
  text-align: center;
}
