@import "root";

.render__edit {
  grid-column: grid1 / grid12;
}

.render__desc {
  @include default-body;
  position: absolute;
  top: 20vh;
  width: 100%;
  text-align: center;
  @include tablet-down {
    font-size: 0.6rem;
  }
}
