@mixin tablet-down {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin tablet-up {
  @media (min-width: 768px) {
    @content;
  }
}

.website-temp {
  margin: 8% 5%;
  width: 90%;
  user-select: none;
  position: relative;

  @include tablet-down {
    width: 90%;
    height: 56%;
  }
}
