@mixin tablet-down {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin tablet-up {
  @media (min-width: 768px) {
    @content;
  }
}

.website-temp {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
